#tlo {
    width: 50vw;
    height: 50px;
    background-image:url('https://webkod.pl/images/para1.png'),
    url('https://webkod.pl/images/para2.png'),
    url('https://webkod.pl/images/para3.png');
    animation:ruch 300s linear infinite alternate;
    position: absolute;
    height: 40%;
    bottom: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
  }
  
 


  @keyframes ruch
{
  0% { 
     background-position:0 0, 0 0, 0 0; 
  }

 
  100% { 
    background-position:10000px 0, 8500px 0, 6000px 0; 
  }
}




@media (orientation: landscape){
  #tlo {
    width: 50vw;
    height: 50px;
    background-image:url('https://webkod.pl/images/para1.png'),
    url('https://webkod.pl/images/para2.png'),
    url('https://webkod.pl/images/para3.png');
    animation:ruch 300s linear infinite alternate;
    position: absolute;
    height: 60%;
    width: 32%;
    bottom: 0;
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
  }


}


@media only screen and (min-width: 800px) and (max-width: 959px) {
  #tlo {
    width: 50vw;
    height: 50px;
    background-image:url('https://webkod.pl/images/para1.png'),
    url('https://webkod.pl/images/para2.png'),
    url('https://webkod.pl/images/para3.png');
    animation:ruch 300s linear infinite alternate;
    position: absolute;
    height: 60%;
    width: 27.5%;
    bottom: 0;
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
  }
}




        